.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #ca0d0d;
}

table {
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 0;
  min-width: 900px;
  background: rgb(165, 134, 156);
}

.header-row {
    background: #073d72;
    color: #fff;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: cyan;
}